@import "tailwindcss";
@layer base {
    @font-face {
        font-family: 'SchibstedGrotesk';
        src: local('SchibstedGrotesk'), url('./fonts/SchibstedGrotesk-Regular.ttf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'SchibstedGrotesk';
        src: local('SchibstedGrotesk-Medium'), url('./fonts/SchibstedGrotesk-Medium.ttf');
        font-weight: medium;
        font-style: normal;
    }

    @font-face {
        font-family: 'SchibstedGrotesk';
        src: local('SchibstedGrotesk-SemiBold'), url('./fonts/SchibstedGrotesk-SemiBold.ttf');
        font-weight: bold;
        font-style: normal;
    }
    :root,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    button,
    a,
    input {
        font-family: "SchibstedGrotesk", sans-serif;
    }
}